<div class="container">
  <div class="row">
    <h1>
      Payment Results
    </h1>

  <div class="row">

    <dl>
  <dt>
    APR
  </dt>
  <dd>
    0.000%
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    0.0
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    $0.00
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    $NaN
  </dd>
</dl>

</div>
</div>
