<div class="container">
  <div class="row">
    <h1>
      Payment Results
    </h1>

  <div class="row">

    <dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= number_to_percentage(@apr, precision: 4) %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @years.to_f %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%= number_to_currency(@principal, precision: 2) %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= number_to_currency(@monthly_payment, precision: 2) %>
  </dd>
</dl>

</div>
</div>
